<div mat-table class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
    
        <thead>
          <tr>
            <th>Id coffee</th>
            <th>Blend name coffee</th>
            <th>Origin Coffee</th>
            <th>Variety Coffee</th>
            <th>Notes Coffee</th>
            <th>Intensifier Coffee</th>
          </tr>
        </thead>
        <tbody>
            <tr>
          <tr *ngFor="let prod of products">
            <td>{{prod.id}}</td>
            <td>{{prod.blend_name}}</td>
            <td>{{prod.origin}}</td>
            <td>{{prod.variety}}</td>
            <td>{{prod.notes}}</td>
            <td>{{prod.intensifier}}</td>
            <td><button (click)="gotoDetails(prod.id)" class="btn">View details</button></td>
           </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  
